#counterstyle{
    background-color: hsl(228, 33%, 97%);
    height: 90%;
    border-radius: 15px;
    width: 50px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
button{
    border: none;
    color: hsl(211, 10%, 45%);
}
@media (max-width:500px){
    #counterstyle{
        flex-direction: row;
        width:100px ;
        height: 65px;
        margin-left: -150px;
    }
}